$black: #000;
$white: #fff;

$wiched-green-050: #f9fcf6;
$wiched-green-100: #e6f3d3;
$wiched-green-200: #d3eab1;
$wiched-green-300: #c0e18f;
$wiched-green-400: #bde86d;
$wiched-green-500: #aad85c;
$wiched-green-600: #9ad04b;
$wiched-green-700: #7ba63c;
$wiched-green-800: #5c7c2d;
$wiched-green-900: #3d531e;

$carrot-orange-050: #fdf9f3;
$carrot-orange-100: #f9e4c9;
$carrot-orange-200: #f5ce9f;
$carrot-orange-300: #f1b974;
$carrot-orange-400: #eda44a;
$carrot-orange-500: #f29432;
$carrot-orange-600: #e98f20;
$carrot-orange-700: #ba7219;
$carrot-orange-800: #8b5513;
$carrot-orange-900: #5d390c;

$red-050: #fff5f5;
$red-100: #fed7d7;
$red-200: #feb2b2;
$red-300: #fc8181;
$red-400: #f56565;
$red-500: #e53e3e;
$red-600: #c53030;
$red-700: #9b2c2c;
$red-800: #822727;
$red-900: #63171b;

$orange-050: #fffaf0;
$orange-100: #feebcb;
$orange-200: #fbd38d;
$orange-300: #f6ad55;
$orange-400: #ed8936;
$orange-500: #dd6b20;
$orange-600: #c05621;
$orange-700: #9c4221;
$orange-800: #7b341e;
$orange-900: #652b19;

$green-050: #f0fff4;
$green-100: #c6f6d5;
$green-200: #9ae6ba;
$green-300: #68d391;
$green-400: #48bb78;
$green-500: #38a169;
$green-600: #25855a;
$green-700: #276749;
$green-800: #22543d;
$green-900: #1c4532;

$gray-050: #f7fafc;
$gray-100: #edf2f7;
$gray-200: #e2e8f0;
$gray-300: #cbd5e0;
$gray-400: #a0aec0;
$gray-500: #718096;
$gray-600: #4a5568;
$gray-700: #2d3748;
$gray-800: #1a202c;
$gray-900: #171923;
